<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>vc</key>
			<string>WTRefreshTableVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>刷新列表测试</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTMapLocationVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>地图定位-MapKit</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTLocationVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>地图定位</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTRunloopVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>Runloop测试</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTAlgorithmVC</string>
			<key>title</key>
			<string>算法</string>
			<key>method</key>
			<string>clickCellAction:</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTBlockTestVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>Block 变量捕捉</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>BCDrawingVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>画圆弧</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTCATransactionVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>Core Animation隐式动画; 隐式动画; 隐式动画; 隐式动画; 隐式动画; 隐式动画</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTKVCTestVC</string>
			<key>title</key>
			<string>KVC&amp;KVO</string>
			<key>method</key>
			<string>clickCellAction:</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTCTestVC</string>
			<key>title</key>
			<string>C语言练习</string>
			<key>method</key>
			<string>clickCellAction:</string>
		</dict>
		<dict>
			<key>title</key>
			<string>绘制多边形</string>
			<key>vc</key>
			<string>WTDragPoylgonVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>LargeImageDownsizingViewController</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>超大分辨率图片加载</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTHomeKitVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>HomeKit智能家居</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTPushAVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>自定义导航跳转</string>
		</dict>
		<dict>
			<key>title</key>
			<string>发送App打印日志到指定邮箱</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTCoreImageVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>CoreImage图像处理</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WTOperationCancelVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>多线程-操作取消</string>
		</dict>
		<dict>
			<key>title</key>
			<string>崩溃日志信息收集</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTCrashExceptionVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>查找函数调用栈</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTThreadLogVC</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>TestVC2</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>Test Demo</string>
		</dict>
		<dict>
			<key>title</key>
			<string>刷新按钮</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTRefreshBtnVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>富文本点击事件</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTRichTextClickVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新手指引</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTMaskGuideVC</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WztSpecialCharactEncodeVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>字符串-特殊字符编解码</string>
		</dict>
		<dict>
			<key>title</key>
			<string>内存使用情况</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>BCLocalStorageVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新手指引Test</string>
			<key>method</key>
			<string>toNewGuideAction:</string>
			<key>vc</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
